<!DOCTYPE html>

<html>
    <head>
        <title>Tweet Sweep</title>

        <title>TweetSweep</title>

        <!--￼ -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS Links Go Here -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700,800" rel="stylesheet">
        <link href="css/hover-min.css" rel="stylesheet">
        <link href="css/launch.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <img class="mylogo" src="media/tweetlogo.png"/>
            <h1 class="tweet-logo">TWEET SWEEP</h1>
            <h1 class="tweet-heading">TWITTER + GMAPS + HUMANS</h1>
            <button class="tweet-enter" id="mainhelp">Yeah I want to help the world!</button>

            <ul class="tweet-data">
                <li style="display:inline;padding:50px;"><button class="tweet-bio" onclick="window.location.href='https://github.com/SynchroDrive/SynchroDrive.github.io'">Github Repo</button></li>
                <li style="display:inline;padding:50px;"><button id="aboutproject" class="tweet-bio">About Project</button></li>
                <li style="display:inline;padding:50px;"><button class="tweet-bio" onclick="window.location.href='http://www.allstarcode.org'">All Star Code</button></li>
            </ul>
        </header>

        <div id="about">
            <h1 class="projdata">ABOUT THE PROJECT</h1>
            <p class="gov-data">Tweet Sweep is a tool that aims to help people keep their communities clean using the power of social media.</p>
            <p class="gov-data gov-tools">It was made with HTML + CSS + JavaScript + Python.</p>
            <p class="gov-data">Made by Ahnaf Taha, Jared Foxhall, Cole Mattox.</p>
            <p style="font-size:90%" class="gov-data">Server Integration by Henry Williams</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="js/launch.js"></script>
    </body>
</html>
